* {
    margin: 0;
    font-family: sans-serif;
}

/* header styles */

.header {
    background-image: url("../images/donation13.jpg");
    background-repeat: no-repeat;
    color: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-size: cover;
    width: 100%;
    height: 669px;
    text-align: center;
}

.header-title {
    margin-left: 500px;
    padding-top: 300px;
    width: 826px;
    height: 158px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.header-text {
    margin: 20px 600px;
    width: 691px;
    height: 56px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.donate-btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    width: 168px;
    height: 56px;
    background: #FF5959;
    border: 0;
    border-radius: 5px;
}

.donate-btn:hover {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
}


/* main tag section one style  */

.section-one {
    text-align: center;
}

.donate-today {
    text-align: center;
    margin-top: 150px;
    height: 54px;
    font-weight: 700;
    font-size: 45px;
}

.donate-text {
    margin: 20px 600px;
    width: 691px;
    height: 56px;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.value-tk {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.tk {
    background-color: #FAFAFA;
    ;
    padding: 45px;
    margin-top: 53px;
    color: #707070;

}

.tk:hover {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.tk-text {
    list-style: none;
    color: #B3B3B3;
    margin: 60px 0 10px;

}

hr {
    margin: 0 400px 0 400px;
}

.section-one .donate-btn {
    margin-top: 30px;
}

/* section two styles */

.section-two {
    text-align: center;
}

.section-two .img-item {
    display: flex;
}

.section-two .donate-plan {
    text-align: center;
    height: 54px;
    font-weight: 700;
    font-size: 45px;
    margin: 60px 0 20px 0;

}

.plan-test {
    margin-bottom: 60px;
    color: #707070;
}

.img-item {
    align-items: center;
    margin-top: 200px;
    margin-left: 400px;
    gap: 40px;
}

.food {
    align-items: center;
    background-color: #4F9DA61A;
    width: 360px;
    height: 352px;
    border-radius: 8px;
}

.shelter {
    background: #FF59591A;
    width: 360px;
    height: 352px;
    border-radius: 8px;

}

.education {
    background: lightyellow;
    width: 360px;
    height: 352px;
    border-radius: 8px;
}

.child {
    margin-top: 40px;
    margin-left: 23px;
    text-align: left;
}

.child-text {
    padding-top: 30px;
    margin-left: 23px;
    text-align: left;
}

img {
    margin-top: 80px;
    margin-right: 245px;
    border-radius: 8px;
}

/* section three styles */

.section-three {
    display: flex;
}

.text-three {
    padding-left: 400px;
    width: 493px;
    height: 374px;
}

.img-one {

    width: 456px;
    height: 477px;
    margin-top: 150px;
    margin-left: 250px;
    background-size: cover;
}

.text-depend {
    padding-top: 150px;
    padding-bottom: 25px;
    width: 826px;
    height: 158px;
    font-weight: 700;
    font-size: 65px;
}

.lorem-text {
    height: 84px;
    left: 156px;
    color: #707070;
}

.contribute {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    border: 0;
    background-color: #FF5959;
    border-radius: 5px;
}
.contribute:hover{
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

/* section four styles */

.section-four {
    display: flex;
}

.img-two {

    width: 456px;
    height: 477px;
    margin-top: 150px;
    margin-left: 250px;
    background-size: cover;
}

.text-survive {
    padding-top: 150px;
    width: 826px;
    height: 158px;
    font-weight: 700;
    font-size: 65px;
}

.lorem-two {
    height: 84px;
    left: 156px;
    color: #707070;
}

/* section-five styles */

.section-five {
    text-align: center;
    margin-top: 200px;
}

.update {
    margin-top: 150px;
    padding-bottom: 20px;
    height: 54px;
    font-weight: 700;
    font-size: 45px;

}

.lorem-three {
    margin: 20px 600px;
    width: 691px;
    height: 56px;
    font-weight: 400;
    font-size: 18px;
    color: #707070;

}

.email-sub {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 316px;
    border-radius: 10px;
    background: #FFF4D6;
}

.subscribe {
    color: #FFFFFF;
    width: 157px;
    height: 44px;
    background: #FF5959;
    border: 0;
    border-radius: 0px 5px 5px 0px;
}
.subscribe:hover{
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.email {
    list-style: none;
    padding-left: 10px;
    width: 300px;
    height: 44px ;
    border: none;
    border-radius: 5px 0 0 5px;
    background: #D9D9D9;
}
/* footer style  */

footer{
    margin-top: 150px;
    text-align: center;
    background: #0B0D17;
    color: #FF5959;
    padding: 50px;
}
.be{
    padding: 10px;
}
.do{
    padding: 10px;
    color: #D9DBE1;
}